#body_base{
    /* border: 10px solid black; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

#body_base div img{
    width: 76%;
    height: 76%;
    margin: 10%;
    
}




*{
    margin: 0px;
    padding: 0px;
}