*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:rgb(217, 214, 186);
    font-family: cursive;
}

#nav_div{
    display: flex;
    /* border: 2px solid red; */
    align-items:center;
    background-color:whitesmoke;
    flex-wrap: wrap;
    flex-direction: row;
   
    
}

#nav_div3 button{
    display: flex;
    justify-content: center;
    text-align: center;

}


#img_id{
    width: 20%;
    
}

#id1{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 30px;
      font-style: italic;
      font-weight: 600;
      color: rgb(115, 22, 202);
}

#nav_div2{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    flex-direction: row;
}
 ul{
   display: flex;
   
   
}


ul li{
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
    font-size: larger;
    font-family: cursive;
   

}

#nav_div1{
    padding: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    flex-direction: row;
}